<h1><%= @book.title %></h1>
<p><%= @book.book_body %></p>

<form action="/<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<a href="<%= @post.id %>/edit">Edit</a>
