h1 {
	color: #231900;
  font-family: 'Monoton', cursive;
	font-size: 80px;
	font-weight: 2em;
	letter-spacing: -2px;
	line-height: 84px;
	margin-bottom: 72px;
	text-transform: uppercase;
}

p {
	color: #231900;
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	line-height: 48px;
	margin-bottom: 48px;
  text-align: justify;
  margin: auto 10%;
}

a {
	color: #231900;
}


a:hover { color: #1c1c1c;
  text-decoration: underline;
}

.container-fluid {
  text-align: center;
  display: inline-block;
  background-color: lightgrey;
  /* position: relative; */
}
