h1 {
	color: white;
  font-family: 'Monoton', cursive;
	font-size: 70px;
	letter-spacing: -2px;
	line-height: 84px;
	margin-bottom: 72px;
	text-transform: uppercase;
  text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px #9A0A35;
}
.story {
  width: 60%;
  float: left;
}

h3 {
  display: inline-block;
  padding-bottom: 20px;
}

img {
  width: 30%;
  padding-bottom: 100px;
}

p {
	color: #231900;
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	margin-bottom: 48px;
  margin: auto 10%;
  color: white;
  text-shadow: 0 0 25px blue, 0 0 5px #9A0A35;
}

form.div {
  padding-bottom: 30px;
}

.bottom_show {
	border: white;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

form {
  margin: 30px auto;
  width: 390px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

input, textarea {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  width: 250px;
	border-radius: 20px;
	color: grey;
}

nav {
  letter-spacing: 0.8em;
  background-color: black;
  font-size: 16px !important;
  letter-spacing: 2px;
  padding-top: 15px;
  margin-bottom: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

a {
  color: white;
}

a:hover
{ color: white;
  text-decoration: underline;
}

.container-fluid {
  text-align: center;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  overflow: hidden;
  background-attachment: fixed;
  background-size:cover;
  display: block;
}

footer {
  margin: auto;
	color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 25px blue, 0 0 5px #9A0A35;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
